#Se define la estructura de las variables de entorno requeridas para el correr la app
# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Yappy
MERCHANT_ID=
SECRET_KEY=
BASE_URL=
ENDPOINT_TOKEN=
ENDPOINT_ORDER=
WEBHOOK_URL=
IPN_URL=